/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  background: #fff;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container, body >  .container-fluid {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.navbar-brand>img {
  display: block;
  width: 69px;
  float: left;
  top: -26px;
  position: relative;
}

.md-datepicker-calendar-pane.md-pane-open {
  z-index: 1100;
}

.md-select-menu-container.md-active {
  z-index: 1100;
}

.progress-xs {
  height: 5px;
}