/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  background: #222d32;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: #222d32;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.navbar-brand > img {
  display: block;
  width: 178px;
  float: left;
  top: -14px;
  position: relative;
}


body > .container, body >  .container-fluid {
  padding: 60px 15px 0;
  margin-bottom: 60px;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.md-datepicker-calendar-pane.md-pane-open {
  z-index: 1100;
}

.md-select-menu-container.md-active {
  z-index: 1100;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  color: #000;
  background-color: #ccc;
  border-color: #1e282c;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #222d32;
  border: 1px solid #222d32;
}

.progress-xs {
  height: 5px;
}

li.user-header {
  height: 75px;
  padding: 10px;
  text-align: center;
  background-color: #1e282c;
  color: #fff;
  border-color: #1e282c;
}

a {
    color: #222d32;
}

a:hover, a:focus {
    color: #cd0200;
      text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #1e282c;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #1e282c;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #1e282c;
    background-color: #ccc;
}



.main-sidebar {
    background-color: #222d32;
}

/*






.main-side-bar-container {
  width: 235px;
}

.main-side-bar {
  background-color: #222d32;
  left: 0px;
  position: absolute;
  min-width: 235px;
  top: -8px;
}













.main-sidebar, .left-side {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
}

.sidebar {
    padding-bottom: 10px;
}
*/